body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav { 
  background-color: black;
}

.nav-right {
  float: right; 
}

a {
  color: white;
  padding: 10px;
  text-decoration: none;
}


