body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

label {
  margin: 15px;
}

nav { 
  background-color: black;
  padding: 10px;
}

input {
  display: flex;
  flex-direction: column;
  padding: 6px;
  border-radius: 10px;;
  width: 50%;
  margin: 10px;
}

textarea {
  padding: 6px;
  border-radius: 10px;;
  width: 80%;
  margin:10px;
}

#nav-right {
  float: right; 
  color: white; 
}

a {
  color: white;
  text-decoration: none;
  padding: 20px;
}


div {
  width: fit-content;
}

#food-card {
  display: flex; 
  flex-direction: row;

}

#posts-details {
  color: black; 
}

#post-img-left {
  
  padding: 30px;
  margin-right: 10px;
}

#post-text-right {
  margin: 0;
}

#cyor-page {
  border: 1px solid black; 
  border-radius: 12px;
}