body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: 'Bungee', cursive;
  font-size: 60px;
  margin: 0px;
}

label {
  margin: 15px;
}


nav { 
  background-color: black;
  padding: 5px;
}

input {
  border-radius: 5px;
  padding: 5px;
}

#create-input {
  background: black;
  color: white;
  border-radius: 5px;
  margin: 10px 0px 0px 0px;

}

#nav-right {
  float: right; 
  color: white; 
}

a {
  color: white;
  text-decoration: none;
  text-align: left; 
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

nav a {
  padding: 10px;
}

div {
  width: fit-content;
}

#food-card {
  display: flex; 
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  margin: 20px 0px;
  width: 100%;
  border: 3px solid rgb(62, 57, 57);
  border-radius: 5px;
}

#posts-details {
  color: black; 
}

#post-img-left {
  padding: 30px;
  margin-right: 10px;
  
}

#post-text-right {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

#cyor-title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 50px 0px
}

#cyor-form {
  position: relative;
  margin: 1% auto;
  min-height: 60%;
  width: 65%;
  padding: 20px 20px 20px 15px;
  background: rgb(249, 249, 249);
  border: 5px solid black; 
  box-sizing: border-box;
  border-radius: 8px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

#img-row {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: row;
}

.image-container {
  width: 300px; 
  height: 300px; 
  background-image: url('https://i.imgur.com/BJqx4s4.png');
  background-size: cover;
  background-position: center;
  margin: 50px;
}

.row-e2 {
  margin: 100px;
  flex-basis: 500px;;
  flex-shrink: 100;
}


#home-img {
  margin: 20px;
  max-width:fit-content
}

#home-p {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

#add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

#add-review-form input[type="submit"] {
  width: 8rem;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
}

.details-tag {
  color: black; 
}

#show-container {  
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.4fr 1.6fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Picture Title Title"
    "Picture Body Body"
    "Inst-Cmt Inst-Cmt Inst-Cmt"; 
}

#show-img { 
  grid-area: Picture; 
  padding: 80px;
}

#show-title {
  grid-area: Title;
}

#show-info { 
  display: flex;
  flex-direction: column;
  grid-area: Body;
  justify-content: center;
}

#show-inst-cmt { 
  grid-area:Inst-Cmt; 
}

#top-half {
  display: flex;
  flex-direction: row;
}

#input-align {
  display: flex; 
  flex-direction: column;
}

.cyor-row {
  display: flex;
  align-items: left;

}

#feed-title {
  font-size: 30px;
  text-decoration: underline;
  text-underline-position: below;
}