<%- include('./partials/header') %>

<img src = "" >
<p>A blog dedicated to providing recipes and food content so that you can make memories with your friends and loved ones over a delicious meal. </p>

<a><img></a>   
<a><img></a>  
<a><img></a>  
<a><img></a>  

<%- include('./partials/footer') %>
