<%- include('./partials/header') %>

<div class ="container">

  <div class = "image-container"></div>

  <div class = "row-e2">
    <p id = "landing-p">Hey! How's it going? It's me -- the Food Dude! Welcome to my blog where I share some of my favorite recipes I've made and I teach you how to make them for your friends or loved ones too! Don't be shy though, if you have an amazing recipe you'd love to share with me, feel free to do so! 
    <br>
    <br>
    Welcome again, and make yourself at home! 
    </p>
  </div>

</div>


<div id = "img-row">

<img class = "row-img" src = "https://i.imgur.com/2snQVdwm.jpg"> 

<img class = "row-img" src = "https://i.imgur.com/iMAARGLm.jpg">  

<img class = "row-img" src = "https://i.imgur.com/30Q9JZ6m.jpg"> 

</div>

<%- include('./partials/footer') %>
