<%- include('./partials/header') %>

<div class ="container">

  <div class = "image-container"></div>

  <div class = "row-e2">
    <p id = "landing-p">A blog dedicated to providing recipes and food content so that you can make memories with your friends and loved ones over a delicious meal.</p>
  </div>

</div>


<div id = "img-row">

<img class = "row-img" src = "https://i.imgur.com/2snQVdwm.jpg"> 

<img class = "row-img" src = "https://i.imgur.com/iMAARGLm.jpg">  

<img class = "row-img" src = "https://i.imgur.com/30Q9JZ6m.jpg"> 

</div>

<%- include('./partials/footer') %>
